.footer {
  overflow: hidden;
}

.footer > .container {
  padding-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $background__dark;
  overflow: hidden;
}
