.header-main {
  position: relative;
  z-index: 1;
}

.header-main .container {
  display: flex;
  justify-content: space-between;
  color: $font-color__light;
}

.header-main__logo {
  margin-top: 2px;
  margin-left: -173px;
  font-family: $font-family__logo;
  font-size: 24px;
  line-height: normal;
  color: $font-color__light;
}

.header-main__search {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    right: 9px;
    width: 13px;
    height: 14px;
    background-image: url("../img/icon-search.svg");
  }
}
