html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 1000px;
  background-color: $background__main;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main-grid {
  display: grid;
  grid-template-columns: auto 1170px auto;

  // А IE лучше без гридов. Прости. Не болей.

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: 1140px;
    margin: 0 auto;
  }
}

.main-grid > * {
  grid-column: 2;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 11px 0 10px 0;
  font-family: $font-family__headings;
  font-weight: 300;
  font-size: 22px;
  line-height: normal;
  color: $font-color__light;
  background-color: $background__highlight;
  border: none;
  border-radius: 23px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}
