html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 1000px;
  background-color: $background__main;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 1170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}
