html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $background__main;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  min-width: 1170px;
  overflow: hidden;
}

@media (min-width: 1171px) {
  .container {
    padding: 0 100% * 30 / 1170;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 11px 0 10px 0;
  font-family: $font-family__headings;
  font-weight: 300;
  font-size: 22px;
  line-height: normal;
  color: $font-color__light;
  background-color: $background__highlight;
  border: none;
  border-radius: 23px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container__contact-icons {
  display: flex;
  align-items: flex-start;
  padding: 0;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  background-color: $background__team-contact;
  list-style: none;
  border-radius: 14px;
}
